<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoTag</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>

<body>
    <div class="container center">
        <h1>AutoTag</h1>
        <!--  <p><a class="btn btn-primary btn-lg" href="#bottomCSS" role="button">Learn more</a></p>-->
    </div>

    <div id="container" ng-controller="HomeCtrl">
        <div class="center">

            <div ng-hide="twitter_submitted" class="row">
                <div class="col-md-12">
                    <button type="button" ng-click="oauth2('twitter')" class=" btn btn-default navbar-btn ">Verify With Twitter</button>
                </div>
            </div>

            <form class="rowDown" ng-submit="submitNumber()">
                <div ng-hide="!linked" class="row">
                    <div class="input-field col-md-4 col-md-offset-4">
                        <input class="textLine" ng-model="phonenumber" id="tel" type="tel">
                        <label class="testForm" for="tel">Phone Number</label>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class=" btn btn-default navbar-btn ">Submit</button>
                    </div>
                </div>
            </form>

            <div ng-hide="!bothSubmitted">
                <div>Your Twitter and phone number are now linked!</div>
                <div>Text (917)242-4218 to auto tag your image and post it on Twitter!</div>
            </div>
        </div>
    </div>

</body>

<footer>
    <div class="center footer">
        <p id="bottomCSS ">
            AutoTag automatically post pictures to twitter and tags it according to Clarifai's api
        </p>
        <p>
            Created By Jason Deng <a href="https://github.com/jasonCodeng"><span class="octicon octicon-mark-github"></span></a>, Cheng Pan <a href="https://github.com/cpanz"><span class="octicon octicon-mark-github"></span></a>, Lizhou Cao
            <a href="https://github.com/newtext"><span class="octicon octicon-mark-github"></span></a>
        </p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.12/angular.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.min.js "></script>
<script src="/app.js "></script>

</html>
